{% extends 'base.html.twig' %}

{% set title = movie.id is not null ? 'Edit Movie' : 'New Movie' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="pb-5">{{ title }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Send</button>
    {{ form_end(form) }}
</div>
{% endblock %}
