{% extends 'base.html.twig' %}

{% block title %}Movie {{ movie.title ?? 'Not found' }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% if movie is not null %}
            <h1 class="pb-5">{{ movie.title }}</h1>

            <img class="float-end" src="{{ movie.poster }}" alt="{{ movie.title }} poster">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Id : {{ movie.id }}</li>
                <li class="list-group-item">IMDb ID : {{ movie.imdbId }}</li>
                <li class="list-group-item">Released At : {{ movie.releasedAt|date('d M Y') }}</li>
                <li class="list-group-item">Rated : {{ movie.rated }}</li>
                <li class="list-group-item">Country : {{ movie.country }}</li>
                <li class="list-group-item">Plot : {{ movie.plot }}</li>
                <li class="list-group-item">Genres : {{ movie.genres|map(genre => genre.name)|join(', ') }}</li>
{#                <li class="list-group-item">Genres reduced : {{ movie.genres|reduce((carry, genre) => carry != '' ? carry ~ ', ' ~ genre.name : genre.name) }}</li>#}
            </ul>
        {% else %}
            <h1>Movie not found.</h1>
        {% endif %}
    </div>
{% endblock %}
