{% from 'includes/_macros.html.twig' import nav_link %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_main_index') }}">Sensio TV+</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ nav_link(current, 'app_main_index', 'Home') }}
            {{ nav_link(current, 'app_movie_index', 'Movie') }}
            {{ nav_link(current, 'app_book_index', 'Book') }}
            {{ nav_link(current, 'app_main_contact', 'Contact') }}
        </ul>
    </div>
</nav>
